* {
  /* border: 1px solid pink; */
}

html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 12px;
  margin-bottom: 0;
}

p {
  margin: 0;
}

.button--icon {
  width: 30px;
}

.card {
  border: 1px solid black;
  position: relative;
}

.card--icon-share {
  background-color: #DA2A29;
  border: 1px solid #DA2A29;
  border-radius: 50%;
  padding: 0.2em;
  position: absolute;
  left: 1.2em;
  top: 1.2em;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  z-index: 1;
}

.card--image {
  opacity: 0.7;
  width: 100%;
}

.card--text {
  padding: 0.5em;
}

.card--quote {
  background-color: #ECEFF1;
  font-size: 14px;
  min-height: 52px;
  vertical-align: baseline;
}

.card--view-number {
  font-size: 26px;
  font-weight: bold;
  margin-top: -4px;
  padding: 0;
}

.card--view-title {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}

.card--view-text {
  position: absolute;
  right: -0.6em;
  top: 1.5em;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header {
  align-items: flex-end;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 15vh;
  width: 100%;
}

.header--elements {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
}

.header--nav {
  display: flex;
}

.header--nav-button {
  align-items: center;
  background-color: black;
  border: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 2em;
  min-width: 100px;
}

.main {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas:
    "article1 article2 article3 article4"
    "article5 article6 article7 article8";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 1em;
  min-height: 80vh;
  width: 98%;
}

.main--title {
  margin-left: 1em;
  width: 100%;
}

.menu--user {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
}

#article1 {
  grid-area: article1;
}

#article2 {
  grid-area: article2;
}

#article3 {
  grid-area: article3;
}

#article4 {
  grid-area: article4;
}

#article5 {
  grid-area: article5;
}

#article6 {
  grid-area: article6;
}

#article7 {
  grid-area: article7;
}

#article8 {
  grid-area: article8;
}

#article1 {
  grid-area: article1;
}
